.passwordPrompt {
  font-family: 'oldFont';
  position: absolute;
  top: calc(40% + 50vmin / 2);
  height: 2vmin;
  width: 30vmin;
  transform: translateX(-50%);
  font-size: 2vmin;
}

.passwordPrompt::placeholder {
  text-align: center;
}
