html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wallpaper {
  position: absolute;
  width: calc(100vmax * 16 / 9);
  height: calc(100vmax);
  margin: 0;
  padding: 0;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
